<br>
<br>
<h2>
  ProjectTask
</h2>
<p>
    <a href="/projecttask/create">Create New</a>
</p>

<table class ="table">
  <tr>
    <th> taskId</th>
    <th>startDate</th>
    <th>endDate</th>
    <th>completion</th>
    <th>empId</th>
    <th>userStoryId</th>
   
  </tr>
  <tr *ngFor="let pt of projecttasks">
    <td>{{pt.taskId}}</td>
    <td>{{pt.startDate}}</td>
    <td>{{pt.endDate}}</td>
    <td>{{pt.completion}}</td>
    <td>{{pt.empId}}</td>
    <td>{{pt.userStoryId}}</td>
    
    <td>
      <a href="/projecttask/edit/{{pt.taskId}}">Edit </a>
      <a href="/projecttask/delete/{{pt.taskId}}">Delete </a>
      <a href="/managercomment/show/{{pt.taskId}}">View </a>
    </td>
    </tr>
</table>

