<br>
<br>
<form [formGroup]="formData" (ngSubmit)="onClickSubmit()">
  <div class="form-horizontal">

    
    <div>
      <h4>Project Task</h4>
      <hr />

      <dl class="dl-horizontal">
        <dt>Start Date</dt>

        <dd>{{projecttask.startDate}}</dd>

        <dt>End Date</dt>

        <dd>{{projecttask.endDate}}</dd>

        <dt>Completion Date</dt>

        <dd>{{projecttask.completion}}</dd>

        <dt>Employee Id</dt>

        <dd>{{projecttask.empId}}</dd>

        <dt>UserStory Id</dt>

        <dd>{{projecttask.userStoryId}}</dd>

       
      </dl>
      </div>
      <p>
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a href="/projecttask">Back to List</a>
      </p>
    </div>
</form>

