<br>
<br>
<div>
  <h4>Project Task</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>Task Id</dt>

    <dd>{{projecttasks.taskId}}</dd>
  
    <dt>Start Date</dt>

    <dd>{{projecttasks.startDate}}</dd>

    <dt>End Date</dt>

    <dd>{{projecttasks.endDate}}</dd>

    <dt>Completion Date</dt>

    <dd>{{projecttasks.completion}}</dd>

    <dt>Employee Id</dt>

    <dd>{{projecttasks.empId}}</dd>

    <dt>UserStory Id</dt>

    <dd>{{projecttasks.userStoryId}}</dd>

  </dl>
  <p>
    <a href="/projecttask/edit/{{projecttasks.taskId}}">Edit </a> |
    <a href="/projecttask/">Back to List</a>
  </p>
